.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 10px;
  background-color: #f0f0f0;
}

.messagesContainer {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 10px;
}

.botMessage {
  align-self: flex-start;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  max-width: 80%;
}

.userMessage {
  align-self: flex-end;
  background-color: #d0e0f0;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  max-width: 80%;
}

.inputContainer {
  display: flex;
  align-items: center;
}

.input {
  flex: 1;
  height: 40px;
  border: 1px solid gray;
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
}

.button {
  background-color: #009739;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #007a31;
}
